body{
    background-color: rgba(255, 0, 0, 0);
}

h1{
    color: blue;
    font-size: x-small;
}


/* universal selector */

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* class selector */

.btn-primary{
    background-color: green;
    color: white;
    padding: 10px 20px;
}

.btn2{
    background-color: red;
    color: white;
}


#main-header{

    background-color: black;
    height: 100px;
    color: azure;
}